<template>
	<div class="container">
			<Logo />
			<client-only>
					<HeaderBar />
			</client-only>
			<SearchBox />
			<client-only>
					<QueryFeed v-bind:key="queryFeedKey" v-bind:queryRequest="QueryRequest" v-bind:searchTerm="searchTerm" />
			</client-only>
	</div>
</template>
<script>
import axios from 'axios'
import dataInterface from '~/lib/dataInterface.js'
import FactCheck from '~/components/render/FactCheck/index.vue'
import BroadcastWrapper from '~/components/render/BroadcastWrapper/index.vue'
import Logo from '@/components/Logo.vue'
import HeaderBar from '@/components/info/HeaderBar/index.vue'
import QueryFeed from '@/components/render/QueryFeed/index.vue'
export default {
	components: {
		Logo,
		BroadcastWrapper,
		FactCheck,
		HeaderBar,
		QueryFeed,
	},
    async asyncData({
        params,
    }) {
        console.log({params})
        return {
		user: params.user,
        }
    },
    computed: {
        QueryRequest() {
            return {
                objectType: 'broadcast',
                channelType: 'user',
                channelName: this.$route.params.user,
            }
        },
    },
}
</script>
