<div>
    <div v-if="alerts.length > 0" v-for="alert in alerts" class="AlertBox" >
        <nuxt-link v-bind:to="'/user/' + alert.producerName">{{alert.producerName}}</nuxt-link>
        <div v-if="alert.comment">
            commented on your post
            <nuxt-link v-bind:to="'/link/' + alert.comment">link</nuxt-link>
        </div>
        <div v-else>
            <div v-if="alert.variable == 0">
                <div v-if="alert.value == 0">
                    <img src="/cold-icon.png" />
                </div>
                <div v-if="alert.value == 1">
                    <img src="/hot-icon.png" />
                </div>
            </div>
            <div v-if="alert.variable == 1">
                <div v-if="alert.value == 0">
                    <img src="/wrong-icon.png" />
                </div>
                <div v-if="alert.value == 1">
                    <img src="/correct-icon.png" />
                </div>
            </div>
            <nuxt-link v-bind:to="'/link/' + alert.reference">link</nuxt-link>
        </div>
    </div>
</div>
