<div>
    <div v-if='emailTaken' class="Error">
        email is taken: {{emailTaken}}
    </div>
    <div v-if='userNameTaken' class="Error">
        userName is taken: {{userNameTaken}}
    </div>
    <div v-if='invalidEmail' class="Error">
        this email is invalid: {{invalidEmail}}
    </div>
    <div class="SplashEmailOuterBox">
        <fieldset class="Fieldset">
            <input type="text" class="InputText" v-on:keyup.enter="SubmitButton" v-model="email" placeholder='email' />
            <input type="text" class="InputText" v-on:keyup.enter="SubmitButton" v-model="userName" placeholder='userName' />
            <input type="password" class="InputText" v-on:keyup.enter="SubmitButton" v-model="password" placeholder="password" />
            <button class="BlackButton" v-on:click="SubmitButton">create account</button>
        </fieldset>
    </div>
</div>
