<template>
<div class="Top">
	<NuxtLink to="/">
  <img src="/big-logo.png" class="BigLogo" />
	</NuxtLink>
</div>
</template>

<style scoped>
.LoginButton {
	background-color: black;
	height: 40px;
	color: white;
	font-size: 24px;
	width: 200px;
	margin: 10px;
}
.Top {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	width: 100%;
	background-color: black;
}
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

.BigLogo {
	width: 240px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
