<div class="NotificationPanel">
    <div v-if='notification.judgment'>
        <router-link v-bind:to="'/user/' + notification.producername" class="NotificationLink">{{notification.producername}}</router-link>
        judged your post
        <span>
            <img v-if="notification.judgment.judgment == 0" class="SmallIcon" src="/money-icon.png" />
            <img v-if="notification.judgment.judgment == 1" class="SmallIcon" src="/poop-icon.png" />
        </span>
				(<router-link v-bind:to="'/link/' + notification.judgment.reference" class="NotificationLink">original</router-link>)
    </div>
    <div v-if='notification.commentid'>
        <router-link v-bind:to="'/user/' + notification.producername" class="NotificationLink">{{notification.producername}}</router-link>
        commented on your post
        (<router-link v-bind:to="'/link/' + notification.commentid" class="NotificationLink">comment</router-link>)
    </div>
</div>
