.RoundHolder {
    border: 3px solid black;
    height: 30px;
    width: 30px;
}

.SelectImage {
    width: 20px;
		margin: 2px;
}

.Unselected {
    opacity: 0.5;
}

.Selected {
    opacity: 1;
}

.SelectImage:hover {
    cursor: pointer;
}

.Bar {
    background-color: black;
    width: 10px;
    height: 2px;
}
