.PageCaption {
    font-size: 40px;
    font-variant: small-caps;
    line-height: 40px;
}

.PageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MenuIcon {
    width: 50px;
    margin-right: 10px;
}

.HeadWrapper {
    margin-bottom: 20px;
}
