<div class="HeadWrapper">
<div class="PageHeader">
    <img v-bind:src="imagePath" v-bind:title="sectionName" class="MenuIcon" />
    <div class="PageCaption">
        {{sectionName}}
    </div>
</div>
</div>
