<div class="home">
    <Logo />
    <client-only>
        <HeaderBar />
    </client-only>
    <client-only>
        <MakeBroadcast v-on:SubmitSuccessEvent='HandleSubmitSuccessEvent' />
    </client-only>
</div>