@media only screen and (max-width: 600px) {
    .AccountWindow {
        width: 90%;
        border-bottom: 2px solid black;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .AccountWindow {
        width: 90%;
        border-bottom: 2px solid black;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 1000px) {
    .AccountWindow {
        width: 600px;
        border-bottom: 2px solid black;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
}

.AccountTitle {
    font-size: 32px;
    padding-bottom: 10px;
}

.EmailBox {
    display: inline-block;
}

.Details {
    padding-bottom: 5px;
}

.Border {
    height: 20px;
}
