<div>
    <HeaderBar sectionName="" />
    <div class="MainCell">
        <PageHeader v-bind:sectionName="UserName" imagePath="/menu-icons/black-receive.png" />
        <QueryFeed v-bind:queryRequest="QueryRequest" />
				<div class="Footer"></div>
    </div>
</div>
