<div class='component'>
    <HeaderBar sectionName="Share" />
    <div class="MainCell">
        <PageHeader sectionName="" imagePath="/menu-icons/black-share.png" />
        <MakeBroadcast v-on:SubmitSuccessEvent='HandleSubmitSuccessEvent' />
        <div class="Footer" />
    </div>
</div>
