.Resource {
    color: black;
    background-color: #e0e0e0;
    padding: 10px;
}

.Resource a {
    text-decoration: none;
    color: black;
}

.ResourceImage {
    width: 100%;
}

.ResourceTitle a {
    color: black;
}


