<div class="nav-bar">
    <div class="Resource">
        <a v-bind:href="resource.url" target="_blank">
            <img class="ResourceImage" v-bind:src="resource.image" />
            <div class="ResourceTitle">
                {{resource.title}}
            </div>
        </a>
    </div>
</div>
