.MenuButton {
    padding: 10px;
    height: 50px;
    width: 50px;
		cursor: pointer;
}

img:hover {
    cursor: pointer;
}

.MenuButton:hover {
    cursor: pointer;
    background-color: black;
    color: #d7d3d4;
}

.MenuButtonSelected {
    border-bottom: 5px solid white;
}


.HeaderBar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
