<div>
    <div v-if="$store.state.authenticatedUser" class="HeaderBar">
        <div @click="$router.push('/')">
            <img src="/menu-icons/black-receive.png" class="MenuIcon" title="Receive" />
        </div>
        <div @click="$router.push('/post')">
            <img src="/menu-icons/black-share.png" class="MenuIcon" title="Share" />
        </div>
        <div @click="$router.push('/alerts')">
            <img src="/menu-icons/black-alerts.png" class="MenuIcon" title="Notifications" />
        </div>
        <div @click="$router.push('/account')">
            <img src="/menu-icons/black-user.png" class="MenuIcon" v-bind:title="$store.getters.CookieUserName" />
        </div>
    </div>
    <div v-else>
        <nuxt-link to="/login/start" style="color: black;">login</nuxt-link>
    </div>
</div>
