.DataPolicy {
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.DataPolicy a {
    color: black;
}

.DataPolicyRoot {
    max-width: 500px;
    background-color: white;
    padding: 20px;
}

.AlignLeft {
    text-align: left;
}

header {
    margin-bottom: 50px;
}