.BarHolder {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    max-width: 460px;
    padding: 20px;
    align-items: center;
}

.BarLine {
    display: flex;
    flex-direction: row;
}

.InputBackground {
    background-color: white;
    padding: 0px;
    padding: 10px;
}

.Caption {
    padding: 10px;
}

.FactCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.NoMatching {
    margin-top: 20px;
    border: 2px solid black;
    padding: 10px;
}

.WindowHolder {
    width: 100%;
		margin: 0px;
		padding: 0px;
}
