<div class="FactCheck">
		<BroadcastWrapper v-bind:broadcastId="reference" />
    <div class="BarHolder">
        <div class="Caption">
            filter
        </div>
        <div class="InputBackground">
            <BinaryInput name="agree" picture1="/correct-clicked.png" picture0="/wrong-clicked.png" v-on:NewValue="HandleAgree" v-bind:initialValue='-1' />
        </div>
        <div class="Caption">
            sort
        </div>
        <div class="InputBackground">
            <BinaryInput name="hot" picture1="/hot-icon.png" picture0="/black-clock.png" v-on:NewValue="HandleHot" v-bind:initialValue='1' v-bind:forced="true" />
        </div>
    </div>
        <div v-if="sorted && sorted.length > 0" v-bind:key="sortedKey" v-for="broadcast in sorted" class="DosWindow">
            <RenderBroadcast v-bind:broadcast="broadcast" v-bind:key="broadcast.key" v-bind:isFocused="false" />
        </div>
    <div v-if="sorted && sorted.length == 0" class="NoMatching">
        no matching items
    </div>
</div>
