<div class="SplashEmailOuterBox">
    <fieldset class="Fieldset">
        <legend class="EmailFieldset">existing user</legend>
        <input type=text class="InputText" v-on:keyup.enter="SubmitButton" v-model="userPart" placeholder='username or email' />
        <input type=password class="InputText" v-on:keyup.enter="SubmitButton" v-model="password" placeholder="password" />
        <button class="BlackButton" v-on:click="SubmitButton">log in</button>
    </fieldset>
    <fieldset class="Fieldset">
        <legend class="EmailFieldset">new user</legend>
        <button class="BlackButton" v-on:click="GoToSignup">sign up</button>
    </fieldset>
</div>
