<div>
    <HeaderBar sectionName="Receive" />
    <div class="MainCell">
        <SearchBox v-on:SearchEnter="HandleSearchEnter" />
        <QueryFeed v-bind:queryRequest="QueryRequest" v-bind:searchTerm="searchTerm" v-bind:key="queryFeedKey" />
        <div class="Footer"></div>
    </div>
</div>
