<template>
<div class="container">
    <Logo />
    <client-only>
        <HeaderBar />
    </client-only>
    <client-only>
        <FactCheck v-bind:reference="broadcastId" />
    </client-only>
</div>
</template>
<script>
import axios from 'axios'
import dataInterface from '~/lib/dataInterface.js'
import FactCheck from '~/components/render/FactCheck/index.vue'
import BroadcastWrapper from '~/components/render/BroadcastWrapper/index.vue'
import Logo from '@/components/Logo.vue'
import HeaderBar from '@/components/info/HeaderBar/index.vue'
export default {
	components: {
		Logo,
		BroadcastWrapper,
		FactCheck,
		HeaderBar,
	},
    async asyncData({
        params,
    }) {
        console.log({params})
        return {
		broadcastId: params.link,
        }
    },
}
</script>
