.BroadcastTextarea {
    width: 99%;
    height: 200px;
    font-size: 20px;
}

.ReplyTextarea {
    width: 99%;
    height: 100px;
    font-size: 20px;
}

.WindowTitle {
    background-color: gray;
    font-variant: small-caps;
    font-size: 20px;
    padding: 5px;
}

.DosWindow {
    margin-bottom: 100px;
}

@media only screen and (min-width: 411px) {
    .ShareWindow {
        width: 400px;
    }

    .ReplyTextarea {
        width: 400px;
				margin-left: 10px;
    }

    .BroadcastTextarea {
        width: 400px;
				margin-left: 10px;
    }
}

@media only screen and (max-width: 410px) {
    .ShareWindow {
        width: 98%;
    }

    .ReplyTextarea {
        width: 98%;
				margin-left: 10px;
    }

    .BroadcastTextarea {
        width: 98%;
				margin-left: 10px;
    }
}
