<div class='ShareWindow'>
    <div class="ErrorMessage">
        {{errorMessage}}
    </div>
    <textarea v-bind:class='TextareaClass' v-model='textarea' @paste='OnPaste' @input='OnInput' placeholder='' />
    <div class='ButtonHolder'>
        <button class='DosButton' v-on:click='HandleSend'>{{ShareCaption}}</button>
    </div>
    <div v-if='resource'>
        <RenderResource v-bind:resource='resource' />
    </div>
</div>
