.CaptionLine {
    font-family: times;
    font-size: 16px;
		color: white;
}

.SplashCompanyLink {
    color: white;
    font-family: times;
    font-size: 16px;
}

.BlackBackground {
    background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
}


@media only screen and (max-width: 599px) {
    .SplashLogo {
        width: 200px;
    }

    .BlackInner {
        padding-bottom: 25px;
				max-width: 300px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .SplashLogo {
        width: 250px;
    }

    .BlackInner {
        padding-bottom: 50px;
				width: 300px;
    }
}

@media only screen and (min-width: 1000px) {
    .SplashLogo {
        width: 300px;
    }

    .BlackInner {
        padding-bottom: 50px;
				width: 300px;
    }
}
