<div class="BlackBackground">
    <div class="BlackInner">
        <img src="/deep-revelations.png" class="SplashLogo" />
        <div class="CaptionLine">
            A social network with futuristic intelligence.
        </div>
        <div class="LinkLine">
            <a href="https://thinkdifferentagain.art" class="SplashCompanyLink">Think different, again.</a>
        </div>
    </div>
</div>
