.ResponseHolder {
    display: flex;
    flex-direction: row;
    align-content: end;
}

.MarginUnit {
    margin-left: 10px;
    margin-bottom: 10px;
}

.CommentImage {
    width: 40px;
}

.CommentImage:hover {
    cursor: pointer;
}

.FocusedCommentImage {
    width: 40px;
    filter: invert(1);
}

.CommentsButton {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.FocusedCommentsButton {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
}

.StarBackground {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 40px;
}

.DimStar {
    width: 40px;
    opacity: 0.7;
}

.BrightStar {
    width: 40px;
    opacity: 1;
}

.DarkStar {
    width: 40px;
    opacity: 0.3;
}

.DimStar:hover {
    cursor: pointer;
    opacity: 1;
}

.BrightStar:hover {
    cursor: pointer;
    opacity: 1;
}

.DarkStar:hover {
    cursor: pointer;
    opacity: 1;
}

.UnselectedAgree {
    width: 40px;
}

.UnselectedAgree:hover {
    cursor: pointer;
}

.MiddlePart {
    margin-left: 10px;
    margin-right: 10px;
}
