<div class="ResponseHolder">
    <div class="MarginUnit">
        <BinaryInput name="hot" picture1="/hot-icon.png" picture0="/cold-icon.png" v-on:NewValue="HandleNewHot" v-bind:initialValue='broadcast.selfRatings[0]' v-bind:broadcast='broadcast' v-bind:index='0' />
    </div>
    <div class="MarginUnit">
        <BinaryInput name="agree" picture1="/correct-clicked.png" picture0="/wrong-clicked.png" v-on:NewValue="HandleNewAgree" v-bind:initialValue='broadcast.selfRatings[1]'  v-bind:broadcast='broadcast' v-bind:index='1' />
    </div>

    <div class="MarginUnit">
        <UnaryInput name="publish" picture1="/public-icon.png" v-on:NewValue="HandleReply" />
    </div>

    <div class="MarginUnit">
        <div v-if="isFocused">
            <UnaryInput name="repost" picture1="/black-scales.png" v-bind:initialValue="1" v-bind:fixed="true" />
        </div>
        <div v-else>
            <router-link v-bind:to="'/link/' + broadcast._id">
                <UnaryInput name="repost" picture1="/black-scales.png" v-bind:initialValue="0" v-bind:fixed="false" />
            </router-link>
        </div>
    </div>
</div>
