.Broadcast {
    width: 400px;
    margin: 10px;
		border-bottom: 1px double black;
}

.TokensPart {
    padding: 10px;
}

.OriginalTitle {
    background-color: white;
}

.OriginalTitle a {
    color: black;
}

.AgreeTitle {
    background-color: darkgreen;
}

.AgreeTitle a {
    color: white;
}

.DisagreeTitle {
    background-color: darkred;
}

.DisagreeTitle a {
    color: white;
}

.NeutralTitle {
    background-color: white;
}

.NeutralTitle a {
    color: black;
}


.WindowTitle {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.InnerBroadcast {
    padding: 10px;
}

.FloatLeft {
    position: absolute;
    left: 0px;
}

.FloatRight {
    position: absolute;
    right: 0px;
}

.TopBar {
    position: relative;
    height: 40px;
}

.DeletedIcon {
    width: 30px;
}

.ToxicIcon {
    width: 30px;
    float: right;
}

.InnerText {
    padding: 10px;
}

.Attachments {
    margin-right: 10px;
}
