<div v-if="broadcast" class="Broadcast">
    <div v-if="ShowDeleted">
        <div class="WindowTitle OriginalTitle">Deleted</div>
        <div class="InnerText">
            This revelation has been deleted.
            <img class="ToxicIcon" src="/menu-icons/black-trash.png" />
        </div>
    </div>
    <div v-if="ShowToxic">
        <div class="WindowTitle OriginalTitle">Toxic</div>
        <div class="InnerText">
            You have marked this revelation 'toxic'.
            <img class="ToxicIcon" src="/menu-icons/toxic-black.png" />
        </div>
    </div>
    <div v-if="ShowBroadcast">
        <div v-bind:class="BroadcastTitleClass">
            <div class="Attachments" v-if="!asRoot && broadcast.attachment">
                <RenderAttachment picture1="/hot-icon.png" picture0="/cold-icon.png" v-bind:rating="broadcast.attachment[0]" />
                <RenderAttachment picture1="/correct-clicked.png" picture0="/wrong-clicked.png" v-bind:rating="broadcast.attachment[1]" />
            </div>
            <router-link class="UserLink" v-bind:to="UserLink">{{AuthorUserName}}</router-link>
        </div>
        <div class="InnerBroadcast">
            <div class="TopBar" v-if='false'>
                <div class="FloatLeft">
                    <RenderBinaryRating picture1="/hot-icon.png" picture0="/cold-icon.png" v-bind:stats="broadcast.stats[0]" v-bind:originalRating="broadcast.selfRatings[0]" v-bind:currentRating="currentHot" />
                    <RenderBinaryRating picture1="/correct-clicked.png" picture0="/wrong-clicked.png" v-bind:stats="broadcast.stats[1]" v-bind:originalRating="broadcast.selfRatings[1]" v-bind:currentRating="currentAgree" />
                </div>
                <div v-if='false' class="FloatRight ">
                    <DeleteButton v-bind:broadcast="broadcast" v-on:DeleteClick="HandleDeleteClick" />
                    <ToxicButton v-bind:broadcast="broadcast" v-on:ToxicClick="HandleToxicClick" />
                </div>
            </div>
            <RenderTime v-if='false' v-bind:timeNumber="broadcast.details.creationTime" />
            <div v-if="broadcast.details.resource">
                <RenderResource v-bind:resource="broadcast.details.resource" />
            </div>
            <div class="TokensPart" v-html="RenderTokens" v-if='ShowTokens'>
            </div>
        </div>
        <ResponseBar v-if="showControls" v-bind:broadcast="broadcast" v-bind:isFocused="IsFocused" v-on:NewHot="HandleNewHot" v-on:NewAgree="HandleNewAgree" v-on:Reply="HandleReply" v-bind:key="responseKey" />

        <div v-if='currentReply'>
            <MakeBroadcast v-bind:reference='broadcast._id' v-on:SubmitSuccessEvent='HandleSubmitSuccessEvent' v-bind:key='keyMakeBroadcast' />
        </div>
    </div>
</div>
