<div class="DosWindow" v-if="broadcast">
    <RenderBroadcast v-bind:broadcast="broadcast"  v-bind:isFocused="false" v-bind:asRoot="false"  />
		<div class="InnerBuffer" />
    <RenderBroadcast v-if="reference" v-bind:broadcast="reference" v-bind:isFocused="false" v-bind:asRoot="true"  />
</div>
