<div v-if='ready'>
    <div v-if="$store.state.authenticatedUser">
        {{$store.state.authenticatedUser.userName}}
    </div>
    <div v-else>
        <nuxt-link to="/login/start">login</nuxt-link>
    </div>
</div>
