.SearchBox {
    background-color: white;
		color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

}

button {
	background-color: black;
	color: white;
	font-size: 20px;
}

.InputText {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
		width: 400px;
}

.SmallReceive {
    width: 20px;
    margin-left: 20px;
}

@media only screen and (min-width: 401px) and (max-width: 599px) {
    .SearchBox {
        width: 100%;
    }

    .SmallReceive {
        display: none;
    }

    .InputText {
        width: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .SearchBox {
        width: 100%;
    }

    .SmallReceive {
        display: none;
    }

    .InputText {
        size: 20;
    }
}
