<div class="container">
    <Logo />
    <client-only>
        <HeaderBar v-if='true' />
    </client-only>
    <client-only>
			<SearchBox v-on:SearchEnter="HandleSearchEnter" />
        <QueryFeed v-bind:key="queryFeedKey" v-bind:queryRequest="QueryRequest" v-bind:searchTerm="searchTerm" />
    </client-only>
</div>
