.RoundHolder {
    border: 3px solid black;
    height: 30px;
    width: 30px;
}

.SelectImage {
    width: 20px;
		margin: 2px;
}

.Unselected {
    opacity: 0.3;
}

.Selected {
    opacity: 1;
}

.SelectImage:hover {
    cursor: pointer;
}

.ResponseHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Bar {
    background-color: black;
    width: 10px;
    height: 2px;
}

.ResponsePair {
		display: flex;
		flex-direction: column;
		align-items: center;
}

.ProbabilityPart {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 5px;
}
