<div class="ResponsePair">
    <div class="ResponseHolder">
        <div class="RoundHolder">
            <img v-bind:src="picture1" v-bind:class="class1" v-on:click='HandleSelect(1)' />
        </div>
        <div class="Bar" />
        <div class="RoundHolder">
            <img v-bind:src="picture0" v-bind:class="class0" v-on:click='HandleSelect(0)' />
        </div>
    </div>
    <div v-if='ShowProbability' class="ProbabilityPart" >
        <img v-if='selectedValue == 1' v-bind:src="picture1" v-bind:class="class1" />
        <img v-if='selectedValue == 0' v-bind:src="picture0" v-bind:class="class0" />
        {{Probability}}
    </div>
</div>
