<div class="QueryRoll">
    <div v-for="broadcast in broadcasts" class="DosWindow">
        <RenderBroadcast v-bind:broadcast="broadcast" :key="broadcast.key" v-bind:isFocused="false" v-bind:asRoot="true" v-bind:showControls="true" />
    </div>
</div>
