.SplashEmailOuterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SplashEmailBox {
    margin-top: 20px;
    max-width: 400px;
}

.EmailBox {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid black;
	margin-top: 20px;
}

.BlackButton {
    background-color: black;
    color: white;
    padding: 10px;
    font-variant: small-caps;
    height: 50px;
    width: 100%;
    margin-top: 4px;
}


@media only screen and (max-width: 599px) {
    .LoginError {
        font-size: 16px;
        max-width: 300px;
        ;
    }

    .InputText {
        font-size: 16px;
        width: 90%;
    }

    .EmailFieldset {
        font-size: 18px;
    }

    .BlackButton {
        font-size: 16px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
    .InputText {
        font-size: 14px;
    }

    .EmailFieldset {
        font-size: 18px;
    }

    .BlackButton {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1000px) {
    .InputText {
        font-size: 14px;
    }

    .EmailFieldset {
        font-size: 22px;
    }

    .BlackButton {
        font-size: 20px;
    }
}

.Red {
    color: red;
    font-variant: small-caps;
}
