<div class="SplashEmailOuterBox">
    <div v-if="currentState == states.kOriginalState" class="SplashEmailBox">
        <p>
            We don't recognize your email.
        </p>
        <fieldset>
            <legend class="EmailFieldset">email</legend>
            {{emailAddress}}
        </fieldset>
        <p>
            Would you like to apply to join the network?
        </p>
        <button v-on:click="SubmitButton" class="BlackButton">Apply</button>
    </div>
    <div v-if="currentState == states.kSendingState" class="SplashEmailBox BorderBox">
        Contacting server
    </div>
    <div v-if="currentState == states.kSuccessState" class="SplashEmailBox">
        <center>
            Your application has been received successfully.
        </center>
    </div>
    <div v-if="currentState == states.kErrorState" class="SplashEmailBox">
        <div class="CheckEmail">
            An internal error has occurred. Your application may have been lost.
        </div>
    </div>
</div>
