<div class="AccountPage">
    <div class="AccountWindow">
        <div class="AccountTitle">Logout</div>
        <div class="Details">
            Logging out will delete your "log-in cookie", and all of our data stored locally in your browser.
        </div>
        <button class="DosButton" @click="$router.push('/login/logout')">Logout</button>
    </div>
    <div class="AccountWindow">
        <div class="AccountTitle">Email</div>
        <div class="Details">
            This is your registered email.
        </div>
        <fieldset v-if="userView">
            <legend class="EmailBox">email</legend>
            <div class="TextLike">
                {{userView.email}}
            </div>
        </fieldset>
    </div>
    <div class="AccountWindow">
        <div class="AccountTitle">History</div>
        <div class="Details">
            Review, and optionally delete, your past posts.
        </div>
        <button class="DosButton" @click="GoToHistory">Review</button>
    </div>
</div>
